/data/
/ESM/
/fancymenu_data/
/journeymap/
/local/
/logs/
/modernfix/
/output/
/patchouli_books/
/quests_structures/
/saves/
/schematics/
/imgui.ini
/pathouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/minecraftinstance.json
/.curseclient
